/*Autor: Eduardo Sousa
email: webx_555@hotmail.com
*/

/*.col-md-1{border:1px solid red;}*/
/*.col-md-2{border:1px solid red;}*/
/*.col-md-3{border:1px solid red;}*/
/*.col-md-4{border:1px solid red;}*/
/*.col-md-5{border:1px solid red;}*/
/*.col-md-6{border:1px solid red;}*/
/*.col-md-9{border:1px solid red;}*/
/*.col-md-4{border:1px solid red;}*/

.img-5 img { width: 5%;}
.img-10 img { width: 10%;}
.img-15 img { width: 15%;}
.img-20 img { width: 20%;}
.img-25 img { width: 25%;}
.img-30 img { width: 30%;}
.img-40 img { width: 40%;}
.img-50 img { width: 50%;}
.img-60 img { width: 60%;}
.img-70 img { width: 70%;}
.img-80 img { width: 80%;}
.img-90 img { width: 90%;}
.img-100 img { width: 100%;}

body{background-color: #000 !important; overflow-x: hidden;}

a,p,li{font-family: 'Open Sans', sans-serif;}
li{list-style: none;}

.clearfix::before,
.clearfix::after{
    content:"";
    display:table;
}

.clearfix::after{
    clear:both;
}
.clearfix{
    *zoom: 1;
}

.clear{clear: both;}

/*####################################################TOPO REDES SOCIAIS############################################################*/

.topo-redes-sociais{height: auto; background: #000;  position: relative;}
.topo-redes-sociais img{margin: auto;}

/*####################################################/TOPO REDES SOCIAIS############################################################*/

/*####################################################TOPO############################################################*/
.topo{background: rgba(53,123,35,0.5); height: auto;  position: relative; z-index: 1;}
.logo img{width: 200px;}
.menu ul li{display: inline;}
/*####################################################/TOPO############################################################*/

/*#####################################################MENU########################################################*/
.menu-topo{margin-top: 0%;}
.menu-topo ul{text-align: center;}
.menu-topo ul li{float: left;}
.menu-topo ul li a{color: #bababa; text-decoration: none; font-size: 0.9em; padding: 1px 10px; text-transform: uppercase; font-weight: bold;}
.menu-topo ul li a:hover{border-bottom: 2px solid #2dbbf8;}
.menu-topo .active a{border-bottom: 2px solid #2dbbf8;}
.menu-topo .current_page_item a{color: #357b23; background: #FFF; border-radius: 20px;}
/*#####################################################/MENU########################################################*/

/*###############################################BANNER###############################################*/
.banner{/*border:1px solid red;*/ height: auto;}
/*###############################################/BANNER###############################################*/


/*###############################################SERVIÇOS-HOME##############################################*/
.servico{background: url('../../site/img/servicos-bg.png') no-repeat;}
#texto-servico{/*border:1px solid red;*/ height: auto;}
#texto-servico p{padding-top: 50px; text-transform: uppercase;}
#texto-servico img{margin-top: 70px;}
.text-servico-gradient{font-size: 1.3em;}
.bloco-servico{/*border:1px solid red;*/ height: auto;}
.bloco-servico h2{font-family: 'Open Sans', sans-serif; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 1.3em; float: right; position: absolute; top: 25px; left: 99px; padding: 0px;}
.bloco-servico p{color: #fff; text-transform: uppercase; font-size: 0.7em; padding-left: 84px; text-align: justify;}
.bloco-servico img{}
/*###############################################/SERVIÇOS-HOME##############################################*/

/*###############################################ESCOLHA-A-PNET#############################################*/
.escolha-a-pnet{/*border:1px solid red;*/ background: url('../../site/img/pnet.png') no-repeat; height: 343px;}
.escolha-a-pnet h3{font-family: 'Open Sans', sans-serif; color:#fff; font-size: 2.9em; text-transform: uppercase; font-weight: bold; position: absolute; top:70px; left: 185px;;}
.escolha-a-pnet p{color:#fff; font-size: 1.3em; text-align: justify; position: relative; left: 170px; top: -218px;}
.receba-nosso-conteudo{background-image: linear-gradient(to bottom, #ff512f, #dd2476); height: 70px;}
.receba-nosso-conteudo h4{font-family: 'Open Sans', sans-serif;color:#fff; font-weight: bold; padding-top: 22px; padding-left: 35px;}
.link-news img{float: left; margin-top: 15px;}
.link-news a{color:#fff; font-weight: bold; font-size: 1.1em; position: absolute; top: 38%;}
/*###############################################/ESCOLHA-A-PNET#############################################*/


/*################################################SERVICOS####################################################*/
.titulo-servico{color:#fff; height: 200px; display: block; text-align: center; padding-top: 95px; font-size: 3.0em; font-weight: bold;}
.bloco-servico-01{background-color: #e40a47; height: 237px;}
.bloco-servico-02{background-color: #14c74a; height: 237px;}
.bloco-servico-03{background-color: #ffa200; height: 237px;}
.bloco-servico-04{background-color: #4d0ae4; height: 237px;}
.bloco-servico-05{background-color: #0687ff; height: 237px;}
.bloco-servico-06{background-color: #02d0bf; height: 237px;}
.bloco-servico-07{background-color: #a005f1; height: 237px;}
.bloco-servico-08{background-color: #676767; height: 237px;}
.bloco-servico-09{background-color: #fc3e3e; height: 237px;}
.bloco-servico-10{background-color: #ff00d2; height: 237px;}
.bloco-servico-11{background-color: #fe6613; height: 237px;}
.bloco-servico-12{background-color: #0e4aae; height: 237px;}
.bloco-servico-01 img, .bloco-servico-02 img, .bloco-servico-03 img,
.bloco-servico-04 img, .bloco-servico-05 img, .bloco-servico-06 img,
.bloco-servico-07 img, .bloco-servico-08 img, .bloco-servico-09 img,
.bloco-servico-10 img, .bloco-servico-11 img, .bloco-servico-12 img
{display: block; margin: auto; padding-top: 15px;}
.bloco-servico-01 h2, .bloco-servico-02 h2, .bloco-servico-03 h2,
.bloco-servico-04 h2, .bloco-servico-05 h2, .bloco-servico-06 h2,
.bloco-servico-07 h2, .bloco-servico-08 h2, .bloco-servico-09 h2,
.bloco-servico-10 h2, .bloco-servico-11 h2, .bloco-servico-12 h2 
{color:#fff; text-align: center; font-weight: bold; font-size: 1.0em; text-transform: uppercase;}
.bloco-servico-01 p, .bloco-servico-02 p, .bloco-servico-03 p,
.bloco-servico-04 p, .bloco-servico-05 p, .bloco-servico-06 p,
.bloco-servico-07 p, .bloco-servico-08 p, .bloco-servico-09 p,
.bloco-servico-10 p, .bloco-servico-11 p, .bloco-servico-12 p
{color:#fff; text-align: center;}
.saiba-mais-servico{background-color: rgba(255, 255, 255, 0.1); width: 100%; height: 25px; position: absolute; right: 0px; top: 90%;}
.saiba-mais-servico .link{background: none; border:none; color: #fff;font-size: 0.7em;font-weight: bold;margin: auto;display: block;padding-top: 5px; text-decoration: none; cursor: pointer;}
.como-fazemos img{margin: auto; display: block;}
.como-fazemos p{color:#fff; text-align: center; font-weight: bold; padding-bottom: 25px;}
.bloco-servicos-esquerdo{margin-top: 105px;}
.bloco-servicos-esquerdo h3{font-family: 'Open Sans', sans-serif;color:#fff; font-weight: bold; text-align: right; font-size: 1.2em; text-transform: uppercase; position: relative; left: 25px;}
.bloco-servicos-esquerdo p{color:#fff; text-align: right; padding-bottom: 75px; position: relative; left: 25px;}
.bloco-servicos-direito{margin-top: 215px;}
.bloco-servicos-direito h3{font-family: 'Open Sans', sans-serif;color:#fff; font-weight: bold; text-align: left; font-size: 1.2em; text-transform: uppercase; position: relative; right: 25px;}
.bloco-servicos-direito p{color:#fff; text-align: left; padding-bottom: 75px; position: relative; right: 25px;}
.foguete img{display: block; margin: auto;}
.linha-foguete{background-image: linear-gradient(to bottom, #02f7ee, #0291ff); width: 14%; height: 790px; margin: auto;}
.modal-design{background: #e40a47; height: 475px; display: none; display: none; position: absolute; z-index: 1; width: 97.4%;}
.modal-links{background: #14c74a; height: 475px; display: none; display: none; position: absolute; z-index: 1; width: 97.4%;}
.modal-redes{background: #ffa200; height: 475px; display: none; display: none; position: absolute; z-index: 1; width: 97.4%;}
.modal-hospedagem{background: #4d0ae4; height: 475px; display: none; display: none; position: absolute; z-index: 1; width: 97.4%;}
.modal-criacao{background: #0687ff; height: 475px; display: none; display: none; position: absolute; z-index: 1; width: 97.4%;}
.modal-otimizacao{background: #02d0bf; height: 475px; display: none; display: none; position: absolute; z-index: 1; width: 97.4%;}
.modal-inbound{background: #a005f1; height: 475px; display: none; display: none; position: absolute; z-index: 1; width: 97.4%; top:59%;}
.modal-conteudo{background: #676767; height: 475px; display: none; display: none; position: absolute; z-index: 1; width: 97.4%; top:59%;}
.modal-propaganda{background: #fc3e3e; height: 475px; display: none; display: none; position: absolute; z-index: 1; width: 97.4%; top:59%;}
.modal-email{background: #ff00d2; height: 475px; display: none; display: none; position: absolute; z-index: 1; width: 97.4%; top:59%;}
.modal-multimidia{background: #fe6613; height: 475px; display: none; display: none; position: absolute; z-index: 1; width: 97.4%; top:59%;}
.modal-desenvolvimento{background: #0e4aae; height: 475px; display: none; display: none; position: absolute; z-index: 1; width: 97.4%; top:59%;}

.fechar-modal{background: none; border:none; color: #fff; font-weight: bold; padding-top: 20px; cursor: pointer; text-decoration: underline; position: absolute; left: 93%;}
.texto-modal{margin-top: 90px; color: #fff;}
.texto-modal h2{font-family: 'Open Sans', sans-serif;}
/*################################################/SERVICOS####################################################*/

/*#################################################PORTFOLIO###################################################*/
.nossos-cases{background: url('../../site/img/estrelas.png') no-repeat; height: auto; margin-bottom: 135px;}
.titulo-nossos-cases{font-family: 'Open Sans', sans-serif; color:#fff; font-weight: bold; font-size: 4.0em; display: block; text-align: center; padding-top: 125px;}
.nossos-cases img{width: 9%; position: absolute; left: 42.4%; top: 50.4%;}
.criacao-de-sites-ativado{width: 77.8%; border:1px solid #bababa; font-family: 'Open Sans', sans-serif;font-size: 1.5em; color:#fff; font-size: 2.3em; display: block; text-align: center;}
.criacao-de-sites-desativado{width: 77.8%; border:1px solid #bababa; font-family: 'Open Sans', sans-serif;font-size: 1.5em; color:#bababa; font-size: 2.3em; display: none; text-align: center;}
.identidade-visual-ativado{width: 77.8%; border:1px solid #bababa; font-family: 'Open Sans', sans-serif;font-size: 1.5em; color:#fff;  font-size: 2.3em; display: none; text-align: center;}
.identidade-visual-desativado{width: 77.8%; border:1px solid #bababa; font-family: 'Open Sans', sans-serif;font-size: 1.5em; color:#bababa;  font-size: 2.3em; display: block; text-align: center;}
.botoes-portfolio{margin-bottom: 160px; position: relative; left: 47px;}
.botoes-portfolio button{background: none; border: none; cursor: pointer; color:#fff;}
.line-color-criacao{}
.line-gray-criacao{display: none;}
.line-color-identidade{display: none;}
.line-gray-identidade{}
.seta-gif-criacao{display: block;margin: auto; position: absolute; left:28%; top: 75%; display: none;}
.seta-gif-identidade{display: block;margin: auto; position: absolute; left:28%; top: 75%;}
.conteudo-criacao-site{}
.conteudo-identidade-visual{display: none;}
.conteudo-identidade-visual img{display: block; margin: auto;}
.linha-branca-esquerda{height: 20px; background: #fff;}
.linha-branca-direita{height: 20px; background: #fff; position: relative; right: 30px; top: 20px; width: 106%;}
/*#################################################/PORTFOLIO###################################################*/


/*######################################################BLOG######################################################*/
.blog{background: url('../../site/img/estrelas.png') no-repeat; height: auto; margin-bottom: 135px;}
.titulo-blog{font-family: 'Open Sans', sans-serif; color:#fff; font-size: 4.0em; display: block; text-align: center; padding-top: 125px; font-weight: 300;}
.blog img{width: 9%; position: absolute; left: 69%; top: 42%;}
.data-blog{color: #fff; text-transform: uppercase; font-size: 1.9em; font-weight: bold; text-align: center;}
.conteudo-blog h2{font-family: 'Open Sans', sans-serif; color:#0e4aae; font-size: 1.8em; font-weight: bold;}
.conteudo-blog h3{font-family: 'Open Sans', sans-serif; color:#0e4aae; font-size: 1.2em; font-weight: bold;}
.conteudo-blog p{color:#fff; text-align: justify;}
.conteudo-blog a{color: #fff; text-decoration: none; padding-bottom: 10px;}
.conteudo-blog a:hover{color: #fff; text-decoration: none; padding-bottom: 10px;}
.conteudo-blog li{color:#fff; list-style: disc;}
/*######################################################/BLOG####################################################*/

/*##################################################CONTATO#####################################################*/
.contato h2{color:#fff; font-weight: bold; font-size: 2.5em; text-align: center;}
.contato button{background-color: #0687ff; background-image: linear-gradient(to top,#0687ff 47%, #2381d8 55%); font-weight: bold; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6); color:#fff;}
.contato button:hover{background-color: #1e5c96; background-image: linear-gradient();}
.contato input{border-radius: 8px; border: 2px solid #0687ff; background: #000;}
.contato textarea{border-radius: 8px; height: 260px; border: 2px solid #0687ff; background: #000;}
.form-group ::-webkit-input-placeholder{color: #009cff; font-weight: bold;}
.form-group ::-moz-placeholder{color: #009cff; font-weight: bold;}
.form-group ::-webkit-input-placeholder{color: #009cff; font-weight: bold;}
.form-group :-ms-input-placeholder {color: #009cff; font-weight: bold;}
.form-group :-moz-placeholder {color: #009cff; font-weight: bold;}
.form-group input::placeholder{color: #009cff;}
.form-group textarea::placeholder{color: #009cff;}
/*##################################################/CONTATO#####################################################*/

/*###############################################RODAPE###############################################*/
.bloco-endereco, .bloco-contato{border-right:1px solid #ff512f;height: 115px;}
.bloco-endereco h5{color:#fff; font-size: 0.9em; font-weight: bold; padding-top: 15px; padding-left: 99px;}
.bloco-endereco p{color:#fff; font-size: 0.8em; padding-left: 98px;}
.bloco-contato h5{font-family: 'Open Sans', sans-serif;color:#fff; font-size: 0.9em; font-weight: bold; padding-top: 15px; padding-left: 25px;}
.bloco-contato p{color:#fff; font-size: 0.8em; padding-left: 25px;}
.bloco-social-media h5{font-family: 'Open Sans', sans-serif;color:#fff; font-size: 0.9em; font-weight: bold; padding-top: 15px; padding-left: 75px;}
.sessao-fale-conosco img{float: left;}
.sessao-fale-conosco h4{font-family: 'Open Sans', sans-serif;color:#fff; padding-top: 21px; font-size: 1.9em;}
.copyright{/*border:1px solid green;*/ height: 100px; background: url('../../site/img/rodape.png') no-repeat;}
.copyright p{color: #0291ff; font-size: 0.7em; text-align: center; padding-top: 78px;}
/*###############################################RODAPE###############################################*/







